
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 0px) and (max-width: 576px) {
 
  #img-slider .slick-prev {
    left: -10px;
    z-index: 100;
  }
  #img-slider .slick-next {
    right: 0px;
  }
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
  
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1024px) {
  
  #img-slider .slick-prev {
    left: 20px;
    z-index: 1;

    
}
  #img-slider .slick-next {
    right: 28px;
    z-index: 1;
  }
}


#img-slider .slick-prev:before {
  content: '<';
  font-size: 3rem;
  color: #fff;
  font-weight: 800;
  text-shadow: -1px 0 #7a7a7a, 0 1px #7a7a7a, 1px 0 #7a7a7a, 0 -1px #7a7a7a;

}
#img-slider .slick-next:before
{
  content: '>';
  font-size: 3rem;
  color: #fff;
  font-weight: 800;
  text-shadow: -1px 0 #7a7a7a, 0 1px #7a7a7a, 1px 0 #7a7a7a, 0 -1px #7a7a7a;

}