
@-webkit-keyframes colorStar {
  0% {
    color: #7a7a7a;
  }

  50% {
    color: #555;
  }

  100% {
    color: #7a7a7a;
  }
}

@keyframes colorStar {
  0% {
    color: #7a7a7a;
  }

  50% {
    color: #555;
  }

  100% {
    color: #7a7a7a;
  }
}

.colorStar {
  -webkit-animation-name: colorStar;
  animation-name: colorStar;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-backface-visibility: visible!important;
  backface-visibility: visible!important;
}

.ms-icon-feature {
  display: table;
  margin-bottom: 60px;
}

.ms-icon-feature .ms-icon-feature-icon {
  display: table-cell;
  vertical-align: top;
  padding-right: 20px;
}

.ms-icon-feature .ms-icon-feature-content {
  display: table-cell;
  vertical-align: top;
  font-size: 14px;
  font-size: 1.4rem;
}

.ms-icon-feature .ms-icon-feature-content h4 {
  font-weight: 400;
  margin: 0 0 10px;
}

.text-center {
  text-align: center;
}
#services .fa {
  border: 1px solid #ff8000;
  padding: .6rem;
  color: #ff8000;
  font-size: 1.4rem;
}