
@-webkit-keyframes colorStar {
  0% {
    color: #bdbdbd;
  }

  50% {
    color: #fff;
  }

  100% {
    color: #bdbdbd;
  }
}

@keyframes colorStar {
  0% {
    color: #bdbdbd;
  }

  50% {
    color: #fff;
  }

  100% {
    color: #bdbdbd;
  }
}

.colorStar {
  -webkit-animation-name: colorStar;
  animation-name: colorStar;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-backface-visibility: visible!important;
  backface-visibility: visible!important;
}

.no-m {
  margin: 0!important;
}

.no-mt {
  margin-top: 0!important;
}

.no-mb {
  margin-bottom: 0!important;
}

.no-mr {
  margin-right: 0!important;
}

.no-p {
  padding: 0!important;
}

.no-pt {
  padding-top: 0!important;
}

.no-pl {
  padding-left: 0!important;
}

.no-pr {
  padding-right: 0!important;
}

.mb-1 {
  margin-bottom: 10px!important;
  margin-bottom: 1rem!important;
}

.mb-2 {
  margin-bottom: 20px!important;
  margin-bottom: 2rem!important;
}

.mb-3 {
  margin-bottom: 30px!important;
  margin-bottom: 3rem!important;
}

.mb-4 {
  margin-bottom: 40px!important;
  margin-bottom: 4rem!important;
}

.mb-6 {
  margin-bottom: 60px!important;
  margin-bottom: 6rem!important;
}

.mt-1 {
  margin-top: 10px!important;
  margin-top: 1rem!important;
}

.mt-2 {
  margin-top: 20px!important;
  margin-top: 2rem!important;
}

.mt-4 {
  margin-top: 40px!important;
  margin-top: 4rem!important;
}

.mt-6 {
  margin-top: 60px!important;
  margin-top: 6rem!important;
}

.mr-1 {
  margin-right: 10px!important;
  margin-right: 1rem!important;
}

.mr-2 {
  margin-right: 20px!important;
  margin-right: 2rem!important;
}

.mr-4 {
  margin-right: 40px!important;
  margin-right: 4rem!important;
}

.mr-6 {
  margin-right: 60px!important;
  margin-right: 6rem!important;
}

.mw-800 {
  max-width: 800px;
}

.ms-icon-feature {
  display: table;
  margin-bottom: 60px;
}

.ms-icon-feature .ms-icon-feature-icon {
  display: table-cell;
  vertical-align: top;
  padding-right: 20px;
}

.ms-icon-feature .ms-icon-feature-content {
  display: table-cell;
  vertical-align: top;
  font-size: 14px;
  font-size: 1.4rem;
}

.ms-icon-feature .ms-icon-feature-content h4 {
  font-weight: 400;
  margin: 0 0 10px;
}

.text-center {
  text-align: center;
}
#services .fa {
  border: 1px solid #ff8000;
  padding: .6rem;
  color: #ff8000;
  font-size: 1.4rem;
}