#navproducts .grid-products{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

#navproducts .grid-products img {
  max-height: 132px;
  transition: all ease .3s;
}
#navproducts .grid-products img:hover {
  opacity: .8;
  transition: all ease .3s;
}
#navproducts .grid-products a {
  color: #ff6600;
  transition: all ease .3s;
} 
#navproducts .grid-products a:hover {
  color: #444;
  transition: all ease .3s;
}

#navproducts .nav-item {
  border-bottom: 1px solid #d2d2d2;
  border-top: 1px solid transparent;
  float: none;
  margin-bottom: -1px;
  padding-bottom: 1rem;
  padding-top: 1rem;
  position: relative;
}
#navproducts .nav-item:hover {
  background-color:  #f4f6f6 ;
  border-top: 1px solid #d2d2d2;
}
#navproducts .nav-item a{
  font-size: 1.4rem;
  font-weight: 300;
}
#navproducts .nav-item .nav-link.active, .nav-item .nav-separtor.active {
  color: #ff6600;
}
#navproducts .nav-item .nav-link.active::after {
  content: "\f054";
  right: 0;
  font-family: FontAwesome;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
  position: absolute;
}