.grid-products{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.grid-products img {
  max-height: 132px;
} 
/*
.nav-tabs .nav-item {
  float: none;
  margin-bottom: -1px;
}
ul.nav.nav-tabs {
  background: #ff6600!important;
  color: #fff!important;
}
.nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-item.open .nav-link:focus, .nav-tabs .nav-item.open .nav-link:hover, .nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover {
  background: #fff!important;
  color: #ff6600!important;
}
.nav-item .nav-link, .nav-item .nav-separtor {
  color: #fff!important;
}

.primary-color {
  color: #ff8000;
}

@media (min-width:992px) {
  .nav-tabs-ver-container>.row {
    overflow: hidden;
  }

  .nav-tabs-ver-container>.row>[class*=col-] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }

  .nav-tabs-ver-container .nav-tabs-ver {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    position: relative;
  }

  .nav-tabs-ver-container .nav-tabs-ver:after {
    content: "";
    display: block;
    width: 1px;
    position: absolute;
    z-index: 10;
    box-shadow: -1px 0 1px 0 rgba(0, 0, 0, .3);
    height: 100%;
    top: 0;
    right: 0;
  }

  .nav-tabs-ver-container-content {
    padding-left: 0;
    padding-right: 30px;
  }
}*/