/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
/* .header-top {
    background-color:#ff6600;
} */
.product-miniature .product-description {
    background-color: #373737!important;
}
.product-price-and-shipping {
    color: #fff!important;
}
.product-title a{
    color: #fff!important;
    font-weight: bold!important;
}
#products .product-miniature .discount-amount.discount-amount, #products .product-miniature .discount-amount.discount-percentage, #products .product-miniature .discount-percentage.discount-amount, #products .product-miniature .discount-percentage.discount-percentage, #products .product-miniature .on-sale.discount-amount, #products .product-miniature .on-sale.discount-percentage, #products .product-miniature .online-only.discount-amount, #products .product-miniature .online-only.discount-percentage, #products .product-miniature .pack.discount-amount, #products .product-miniature .pack.discount-percentage, #products .product-miniature .product-flags .new.discount-amount, #products .product-miniature .product-flags .new.discount-percentage, .featured-products .product-miniature .discount-amount.discount-amount, .featured-products .product-miniature .discount-amount.discount-percentage, .featured-products .product-miniature .discount-percentage.discount-amount, .featured-products .product-miniature .discount-percentage.discount-percentage, .featured-products .product-miniature .on-sale.discount-amount, .featured-products .product-miniature .on-sale.discount-percentage, .featured-products .product-miniature .online-only.discount-amount, .featured-products .product-miniature .online-only.discount-percentage, .featured-products .product-miniature .pack.discount-amount, .featured-products .product-miniature .pack.discount-percentage, .featured-products .product-miniature .product-flags .new.discount-amount, .featured-products .product-miniature .product-flags .new.discount-percentage, .product-accessories .product-miniature .discount-amount.discount-amount, .product-accessories .product-miniature .discount-amount.discount-percentage, .product-accessories .product-miniature .discount-percentage.discount-amount, .product-accessories .product-miniature .discount-percentage.discount-percentage, .product-accessories .product-miniature .on-sale.discount-amount, .product-accessories .product-miniature .on-sale.discount-percentage, .product-accessories .product-miniature .online-only.discount-amount, .product-accessories .product-miniature .online-only.discount-percentage, .product-accessories .product-miniature .pack.discount-amount, .product-accessories .product-miniature .pack.discount-percentage, .product-accessories .product-miniature .product-flags .new.discount-amount, .product-accessories .product-miniature .product-flags .new.discount-percentage, .product-miniature .product-miniature .discount-amount.discount-amount, .product-miniature .product-miniature .discount-amount.discount-percentage, .product-miniature .product-miniature .discount-percentage.discount-amount, .product-miniature .product-miniature .discount-percentage.discount-percentage, .product-miniature .product-miniature .on-sale.discount-amount, .product-miniature .product-miniature .on-sale.discount-percentage, .product-miniature .product-miniature .online-only.discount-amount, .product-miniature .product-miniature .online-only.discount-percentage, .product-miniature .product-miniature .pack.discount-amount, .product-miniature .product-miniature .pack.discount-percentage, .product-miniature .product-miniature .product-flags .new.discount-amount, .product-miniature .product-miniature .product-flags .new.discount-percentage {
    background: #ff6600!important;
}
.h2.h2.products-section-title.text-uppercase {
    color: #ff6600!important;
}
.footer-container {
    background: #f1f1f1;
}

.footer-container .h3, .footer-container #block_myaccount_infos .myaccount-title a, .footer-container .block-contact .block-contact-title, .linklist .blockcms-title a {
    color: #ff6600;
}
.gris {
    background: #373737;
    color: #fff;
}
.gris a {
    color: #fff;
}
.btn-primary {
    color: #fff;
    background-color: #ff6600;
    border-color: transparent;
}

/*Detalle de producto*/
#accordion .btn-link {
    width: 100%;
}
.breadcrumb {
    display: none;
}
.product-variants .control-label {
    color: #ff6600
}
.form-control:focus, .input-group.focus {
    outline: .1875rem solid #ff6600;
}
.product-add-to-cart {
    display: none;
}
.product-prices {
    display: flex;
    align-items: center;
}
.current-price {
    font-size: 2rem;
}
.product-prices .tax-shipping-delivery-label {
    font-size: 1rem;
}