@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
/*Generales*/
body {
    font-family: 'Roboto', sans-serif !important;
}
p {
  font-size: 17.6px;
  font-size: 1.1rem;
  font-weight: 300 !important;
  line-height: 28.8px;
  line-height: 1.8rem;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal !important;
}
h1 {
  color: #f60;
}
h1.page-heading {display: none;}
h2.primary-color {
  font-size: calc(1.20465rem + 0.74419vw);
}
h2#js-product-list-header {display: none;}
.breadcrumb {
    display: none;
}
.btn-cart {
  font-size: calc(1.00233rem + 0.37209vw);
}
.btn-primary {
  background-color: #ff6600;
  border-color: transparent;
  color: #fff;
}
.gris {
  background: #373737;
  color: #fff;
}
.gris a {
  color: #fff;
}
.no-m {
  margin: 0!important;
}
.no-mt {
  margin-top: 0!important;
}
.no-mb {
  margin-bottom: 0!important;
}
.no-mr {
  margin-right: 0!important;
}
.no-p {
  padding: 0!important;
}
.no-pt {
  padding-top: 0!important;
}
.no-pl {
  padding-left: 0!important;
}
.no-pr {
  padding-right: 0!important;
}
.mb-1 {
  margin-bottom: 10px!important;
  margin-bottom: 16px!important;
  margin-bottom: 1rem!important;
}
.mb-2 {
  margin-bottom: 20px!important;
  margin-bottom: 32px!important;
  margin-bottom: 2rem!important;
}
.mb-3 {
  margin-bottom: 30px!important;
  margin-bottom: 48px!important;
  margin-bottom: 3rem!important;
}
.mb-4 {
  margin-bottom: 40px!important;
  margin-bottom: 64px!important;
  margin-bottom: 4rem!important;
}
.mb-6 {
  margin-bottom: 60px!important;
  margin-bottom: 96px!important;
  margin-bottom: 6rem!important;
}
.mt-1 {
  margin-top: 10px!important;
  margin-top: 16px!important;
  margin-top: 1rem!important;
}
.mt-2 {
  margin-top: 20px!important;
  margin-top: 32px!important;
  margin-top: 2rem!important;
}
.mt-4 {
  margin-top: 40px!important;
  margin-top: 64px!important;
  margin-top: 4rem!important;
}
.mt-6 {
  margin-top: 60px!important;
  margin-top: 96px!important;
  margin-top: 6rem!important;
}
.mr-1 {
  margin-right: 10px!important;
  margin-right: 16px!important;
  margin-right: 1rem!important;
}
.mr-2 {
  margin-right: 20px!important;
  margin-right: 32px!important;
  margin-right: 2rem!important;
}
.mr-4 {
  margin-right: 40px!important;
  margin-right: 64px!important;
  margin-right: 4rem!important;
}
.mr-6 {
  margin-right: 60px!important;
  margin-right: 96px!important;
  margin-right: 6rem!important;
}
.mw-800 {
  max-width: 800px;
}
.primary-color {
  color: #ff6600 !important;
}
span.lead {
  color: #7a7a7a;
  line-height: 28.8px;
  line-height: 1.8rem;
}
strong.nobold {
  font-weight: 300;
}
.superh1 {
  font-size: calc(1.45233rem + 0.37209vw);
}
#wrapper {
  background-color: #ffffff;
}
#wrapper .banner {
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 1140px;
  }
#wrapper .banner img {
      max-width: 100%;
      height: auto;
      width: 1140px;
    }
/*******************
Carrito de compras
*******************/
#block-reassurance {
  display:none;
}
/*******************
Carousel
*******************/
#carousel {
  -webkit-box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, .15);
          box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, .15);
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  margin-top: -25px;
}
#carousel .carousel-inner {
    height: 400px;
  }
.carousel-fade .carousel-item {
 opacity: 0;
 -webkit-transition-duration: .6s;
      -o-transition-duration: .6s;
         transition-duration: .6s;
 -webkit-transition-property: opacity;
 -o-transition-property: opacity;
 transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
/**************************
Categorías y Subcategorías
**************************/
#category .block-category {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: auto;
    min-height: 25vw;
  }
#category #products .pagination {
    margin-top: 0;
    margin-bottom: 0;
  }
#category #category-description {
    width: 600px;
    max-width: 100%;
    padding: 16px;
    padding: 1rem;
    background-color: #ffffff;
    background-color: rgba(255, 255, 255, .75);
  }
#category #category-description p {
      font-size: calc(0.70233rem + 0.37209vw);
      margin-bottom: 12.8px;
      margin-bottom: .8rem;
    }
#category #subcategories .icon-cont a {
          color: #f60;
        }
#category #subcategories .icon-cont a:hover {
            color: #777;
          }
#category #subcategories .icon-cont img:hover{
          opacity:.8;
        }
#category #subcategories .subcategories-cont {
      display: grid;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
      grid-template-columns: -webkit-max-content -webkit-max-content -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content max-content max-content;
    }
/*****************************
content-wrapper por secciones
*****************************/
#best-sales #wrapper, #new-products #wrapper, #prices-drop #wrapper {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: auto;
    max-width: 100%;
    padding-top: 41.008px;
    padding-top: 2.563rem;
    width: 1140px;
  }
#sitemap #content-wrapper {
    width: 1140px;
    max-width: 100%;
    margin: auto;
  }
#stores #content-wrapper {
    width: 1140px;
    max-width: 100%;
    margin: auto;
  }
/***************
Header
***************/
#header a {
    color: #999;
  }
#header .header-nav{
    margin-bottom: 10px;
  }
#header .header-top a[data-depth="0"]{
    color:#ffffff;
    font-size: calc(1.02674rem + 0.27907vw);
    font-weight: 400;
    text-transform: none;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
#header .header-top a[data-depth="0"]:hover {
      color: #333;
      text-decoration: none;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
    }
#header .top-menu a[data-depth="1"], #header .top-menu a[data-depth="2"] {
    color: #666;
    font-size: calc(0.70233rem + 0.37209vw);
    font-weight: 400;
    padding: 0 10px 10px 0;
    padding: 0 .625rem .625rem 0;
    text-transform: none;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
#header .top-menu a[data-depth="1"]:hover, #header .top-menu a[data-depth="2"]:hover {
      color: #ff6600;
      text-decoration: none;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
    }
#header .header-top {
    background-color: #ff6600;
    padding-bottom: 4px;
    padding-top: 6px;
  }
#header .header-top .menu, #header ul{
    margin-bottom: 0;
    padding-bottom: 0;
  }
#search_block_top{
  padding-bottom: 10px;

}
/****************
Footer
****************/
.footer-container {
  background: #f1f1f1;
}
.footer-container .h3, .footer-container #block_myaccount_infos .myaccount-title a, .footer-container .block-contact .block-contact-title, .linklist .blockcms-title a {
  color: #ff6600;
}
.block-contact-title, .blockcms-title, .myaccount-title, .myaccount-title a {
  font-weight: 300;
  font-size: 16px;
  font-size: 1rem;
}
.block-contact {
  font-size: 14.4px;
  font-size: .9rem;
  line-height: 30.4px;
  line-height: 1.9rem;
}
.gris p > a {
  font-size: 12px;
  font-size: .75rem;
}
/********************
Productos destacados
********************/
.h2.h2.products-section-title.text-uppercase {    
  color: #ff6600!important;
  font-size: 25.6px;
  font-size: 1.6rem;
}
.product-miniature .product-description {
  background-color: #373737!important;
}
.product-price-and-shipping {
  color: #fff!important;
}
.product-title a{
  color: #fff!important;
}
#products .product-miniature .discount-amount.discount-amount, #products .product-miniature .discount-amount.discount-percentage, #products .product-miniature .discount-percentage.discount-amount, #products .product-miniature .discount-percentage.discount-percentage, #products .product-miniature .on-sale.discount-amount, #products .product-miniature .on-sale.discount-percentage, #products .product-miniature .online-only.discount-amount, #products .product-miniature .online-only.discount-percentage, #products .product-miniature .pack.discount-amount, #products .product-miniature .pack.discount-percentage, #products .product-miniature .product-flags .new.discount-amount, #products .product-miniature .product-flags .new.discount-percentage, .featured-products .product-miniature .discount-amount.discount-amount, .featured-products .product-miniature .discount-amount.discount-percentage, .featured-products .product-miniature .discount-percentage.discount-amount, .featured-products .product-miniature .discount-percentage.discount-percentage, .featured-products .product-miniature .on-sale.discount-amount, .featured-products .product-miniature .on-sale.discount-percentage, .featured-products .product-miniature .online-only.discount-amount, .featured-products .product-miniature .online-only.discount-percentage, .featured-products .product-miniature .pack.discount-amount, .featured-products .product-miniature .pack.discount-percentage, .featured-products .product-miniature .product-flags .new.discount-amount, .featured-products .product-miniature .product-flags .new.discount-percentage, .product-accessories .product-miniature .discount-amount.discount-amount, .product-accessories .product-miniature .discount-amount.discount-percentage, .product-accessories .product-miniature .discount-percentage.discount-amount, .product-accessories .product-miniature .discount-percentage.discount-percentage, .product-accessories .product-miniature .on-sale.discount-amount, .product-accessories .product-miniature .on-sale.discount-percentage, .product-accessories .product-miniature .online-only.discount-amount, .product-accessories .product-miniature .online-only.discount-percentage, .product-accessories .product-miniature .pack.discount-amount, .product-accessories .product-miniature .pack.discount-percentage, .product-accessories .product-miniature .product-flags .new.discount-amount, .product-accessories .product-miniature .product-flags .new.discount-percentage, .product-miniature .product-miniature .discount-amount.discount-amount, .product-miniature .product-miniature .discount-amount.discount-percentage, .product-miniature .product-miniature .discount-percentage.discount-amount, .product-miniature .product-miniature .discount-percentage.discount-percentage, .product-miniature .product-miniature .on-sale.discount-amount, .product-miniature .product-miniature .on-sale.discount-percentage, .product-miniature .product-miniature .online-only.discount-amount, .product-miniature .product-miniature .online-only.discount-percentage, .product-miniature .product-miniature .pack.discount-amount, .product-miniature .product-miniature .pack.discount-percentage, .product-miniature .product-miniature .product-flags .new.discount-amount, .product-miniature .product-miniature .product-flags .new.discount-percentage {
  background: #ff6600!important;
}
.slick-slide > div {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/******************
Detalle productos
******************/
#main .h1, #main .h2, #main .h3 {
    text-transform: none;
    color: #777;
  }
#main figcaption.image-caption p {
      font-size: 14.4px;
      font-size: .9rem;
      font-weight: 300 !important;
      line-height: 17.6px;
      line-height: 1.1rem;
    }
#main .product-images > li.thumb-container > .thumb.selected, #main .product-images > li.thumb-container > .thumb:hover {
    border: 3px solid #ff6600;
  }
#main #product-modal .modal-content figure {
      margin: 0 0 16px;
      margin: 0 0 1rem;
      max-width: 570px;
    }
#main #product-modal .modal-content .modal-body .image-caption {
      background: #fff;
      border-top: 1px solid #f1f1f1;
      padding: 10px 20px;
      padding: .625rem 1.25rem;
      width: 600px;
    }
#main #product-modal .modal-content .modal-body .product-images > li.thumb-container > .thumb.selected, #main #product-modal .modal-content .modal-body .product-images > li.thumb-container > .thumb:hover {
      border: 3px solid #ff6600;
    }
#main #product-modal .modal-content .modal-body .product-cover-modal {
      background: #fff;
      max-width: 600px;
    }
#main .tabs .nav-tabs .nav-link.active, #main .tabs .nav-tabs .nav-link:hover {
    border: none;
    border-bottom: 3px solid #ff6600;
  }
#main .tabs .nav-tabs .nav-link {
    font-weight: 300;
    font-size: calc(0.95233rem + 0.37209vw);
  }
#main .tabs .nav-tabs .nav-link.active {
    color: #ff6600;
  }
#main .product-prices {
    display: block !important;
  }
#main .product-prices .current-price > span {
      color: #00A9B3;
    }
#main .product-prices .current-price > span.iva {
      color: #777 !important;
      font-size: 16px !important;
      font-size: 1rem !important;
    }
#main .product-prices .discount-percentage {
      color: #f60;
    }
#main .product-customization {
    margin: 24px 0;
    margin: 1.5rem 0;
  }
#main .product-customization .card {
      background-color: #fff;
      border-radius: 0;
      border: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      display: block;
      margin-bottom: 0;
      position: relative;
    }
#main .product-customization .card-block {
      padding: 0;
    }
#main .product-customization p.card-title {
      font-family: Roboto,sans-serif;
      font-size: calc(1.15116rem + 0.18605vw);
      font-weight: normal !important;
      text-align: center;
      width: 100%;
    }
#main .product-customization .custom-file {
      margin-top: 4px;
      margin-top: 0.25rem;
    }
#main .product-customization .custom-file-upload {
      border: 2px solid #f60;
      color: #777;
      cursor: pointer;
      display: inline-block;
      font-family: 'Roboto',Sans-serif;
      font-size: 16px;
      font-size: 1rem;              
      font-weight: 300;
      padding: 6px 12px;
      text-align: center;
      width: 100%;
    }
#main .product-customization .product-message {
      background: #f2f2f2;
      border: none;
      width: 100%;
      height: 52.8px;
      height: 3.3rem;
      resize: none;
      padding: 8px;
      padding: .5rem;
    }
#main .product-customization .btn-info {
      text-transform: none !important;
      font-weight: normal;
    }
#accordion .btn-link {
  color: #fff;
  text-decoration: none;
  width: 100%;
  }
#accordion .btn-link:hover {
    color:#fff;
  }
#accordion .card {
    position: relative;
    display: block;
    margin-bottom: 0;
    background-color: #fff;
    border-radius: 0;
    border: 0px solid transparent;
  }
#accordion .card-header {
    padding: 2px;
    margin-bottom: 0;
    background-color: #ff6600;
    border-bottom: 0px solid transparent;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
#accordion .card-header:hover {
      background-color:#d85600;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
    }
.accordionproducts .card p {
      font-size: calc(0.70233rem + 0.37209vw);
      line-height: 20.8px;
      line-height: 1.3rem;
    }
.accordionproducts .card p i.fa {
        font-size: calc(0.55116rem + 0.18605vw);
        color: #ff6600;
      }
.product-variants .control-label {
  color: #ff6600
}
.form-control:focus, .input-group.focus {
  outline: 3px solid #ff6600;
  outline: .1875rem solid #ff6600;
}
.product-add-to-cart {
  display: none;
}
.product-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.current-price {
  font-size: 32px;
  font-size: 2rem;
}
.product-prices .tax-shipping-delivery-label {
  font-size: 16px;
  font-size: 1rem;
}
.product-variants .control-label {
    color: #ff6600;
    font-size: larger;
  }
/*& .input-radio {
    cursor: pointer;
    height: 100%;
    opacity: 100;
    position: relative;
    top: 0;
    width: auto;
  }*/
.product-variants .inputcont {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
/* Ocultar default radio button */
.product-variants .inputcont input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
/* Crea custom radio button */
.product-variants .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }
.product-variants .inputcont:hover input ~ .checkmark {
    background-color: #ccc;
  }
.product-variants .inputcont input:checked ~ .checkmark {
    background-color: #ff6600;
  }
/* Crea indicador */
.product-variants .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
/* Mostrar indicador (dot/circle) checked */
.product-variants .inputcont input:checked ~ .checkmark:after {
    display: block;
  }
/* Style dot/circle */
.product-variants .inputcont .checkmark:after {
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
  }
/*-----------*/
.product-variants .radio-label {
    background: transparent;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #888;
    display: inline;
    font-size: medium;
    font-weight: 300;
    padding: 2px 10px;
    padding: 0.125rem 0.625rem;
  }
.product-variants .input-color:checked + span, .product-variants .input-color:hover + span, .product-variants .input-radio:checked + span, .product-variants .input-radio:hover + span {
    border: none;
    color: #444;
  }
.product-variants > .product-variants-item {
    border-bottom: solid 1px #dbdbdb;
    margin: 0;
    padding: 12.8px 0;
    padding: .8rem 0;
  }
/****************
Ventajas
****************/
#services {
  background-color: #f9f9f9;
  margin-top: 48px;
  margin-top: 3rem;
  padding-top: 48px;
  padding-top: 3rem;
}
/***************
Mediaquery
***************/
@media screen and (min-width: 1280px){
    h2.primary-color{
        font-size: 28.8px;
        font-size: 1.8rem;
    }
    .btn-cart{
        font-size: 20.8px;
        font-size: 1.3rem;
    }
    .superh1{
        font-size: 28px;
        font-size: 1.75rem;
    }
    #category #category-description p{
        font-size: 16px;
        font-size: 1rem;
    }
    #header .header-top a[data-depth="0"]{
        font-size: 20px;
        font-size: 1.25rem;
    }
    #header .top-menu a[data-depth="1"], #header .top-menu a[data-depth="2"]{
        font-size: 16px;
        font-size: 1rem;
    }
    #main .tabs .nav-tabs .nav-link{
        font-size: 20px;
        font-size: 1.25rem;
    }
    #main .product-customization p.card-title{
        font-size: 20.8px;
        font-size: 1.3rem;
    }
    .accordionproducts .card p{
        font-size: 16px;
        font-size: 1rem;
    }
    .accordionproducts .card p i.fa{
        font-size: 11.2px;
        font-size: .7rem;
    }
}
@media screen and (max-width: 420px){
    h2.primary-color{
        font-size: 22.4px;
        font-size: 1.4rem;
    }
    .btn-cart{
        font-size: 17.6px;
        font-size: 1.1rem;
    }
    .superh1{
        font-size: 24.8px;
        font-size: 1.55rem;
    }
    #category #category-description p{
        font-size: 12.8px;
        font-size: .8rem;
    }
    #header .header-top a[data-depth="0"]{
        font-size: 17.6px;
        font-size: 1.1rem;
    }
    #header .top-menu a[data-depth="1"], #header .top-menu a[data-depth="2"]{
        font-size: 12.8px;
        font-size: .8rem;
    }
    #main .tabs .nav-tabs .nav-link{
        font-size: 16.8px;
        font-size: 1.05rem;
    }
    #main .product-customization p.card-title{
        font-size: 19.2px;
        font-size: 1.2rem;
    }
    .accordionproducts .card p{
        font-size: 12.8px;
        font-size: .8rem;
    }
    .accordionproducts .card p i.fa{
        font-size: 9.6px;
        font-size: .6rem;
    }
}
@media (min-width: 0px) and (max-width: 544px) {
#header .header-top a[data-depth="0"]{
      color: #555;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s
  }
#header .header-top a[data-depth="0"]:hover {
        color: #ff6600;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s
    }
    }
@media screen and (max-width: 768px) {

  #search_block_top{
    display: none;
  }
}
.small {
  font-size: 60%;
}

.desing-checkbox .inputcont {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.desing-checkbox .inputcont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.desing-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}
.desing-checkbox .radio-label {
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #888;
  display: inline;
  font-size: .8rem;
  font-weight: 600;
  padding: 2px 10px;
  padding: 0.125rem 0.625rem;
}
.desing-checkbox .inputcont input:checked ~ .checkmark {
  background-color: #ff6600;
}
.input-color:checked+span, .input-color:hover+span, .input-radio:checked+span, .input-radio:hover+span {
  border: 2px solid #e0e0e0;
}

.desing-checkbox .control-label {
  color: #ff6600;
  font-size: larger;
}
.product-customization {
  display: none;
}